:root {
  --color-bg: rgb(21, 22, 24);
  --color-txt: rgb(255, 255, 255);
  --color-bg-controls: rgba(255, 255, 255, 0.363);
  --color-txt-controls: rgb(0, 0, 0);
  --color-helper: rgb(70, 172, 2);
  --color-helper: rgb(70, 172, 2);
  --color-helper-line: rgb(0, 185, 218);
  --color-helper-area: rgb(230, 0, 0);
  --color-helper-vertex: rgb(174, 0, 218);
  --color-border: rgb(128, 128, 128);
  --color-bubble-fill: rgb(247, 247, 247);
  --color-bubble-border: rgb(56, 34, 255);
  --color-bubble-txt: rgb(0, 0, 0);
}

*, ::before, ::after {
  box-sizing: border-box;
}

html, body {
  position: relative;
  background: var(--color-bg);
  color: var(--color-txt);
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 18px;
  margin: 0;
  padding: 0;
}

/* svg {
  position: relative;
  /* background: var(--color-stage);
}

svg .outer {
  fill: var(--color-bubble-border);
}

svg .outer path {
  stroke: var(--color-bubble-border);
}

svg .inner {
  fill: var(--color-bubble-fill);
}

svg .dev {
  fill: none;
  stroke: red;
}

svg .bubblePath {
  fill: var(--color-bubble-fill);
}

svg circle, svg ellipse {
  pointer-events: auto;
}

.content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.content p {
  margin: 0;
  font-family: sans-serif;
  height: 100%;
  color: var(--color-bubble-txt);
}

*/

.app, #root {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background-color: var(--color-bg);
}

/* .controls {
  position: relative;
  width: 100%;
  position: sticky;
  padding: 20px;
  top: 0;
  z-index: 10;
  pointer-events: none;
}

.clippedContent {
  position: absolute;
  top: 0;
  left: 0;
  color: var(--color-bubble-txt);
}

.clippedContent > div {
  position: relative;
  clip-path: url(#clippath);
} */

.stage {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}


.bubble {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 2.8vw;
}

.bubble svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
}

.bubble .children {
  position: relative;
  background: none;
  color: var(--color-bubble-txt);
}

.bubble .shape {
  fill: var(--color-bubble-fill);
  stroke: none;
}

.bubble .helpers {
  fill: none;
  stroke: var(--color-helper);
  stroke-width: 1;
  stroke-dasharray: 0;
}

.bubble .helpers .line {
  stroke: var(--color-helper-line);
}

.bubble .helpers .outline {
  stroke-width: 4;
  stroke: var(--color-helper-outline);
}

.bubble .helpers .radius {
  stroke-dasharray: 4;
  stroke: var(--color-helper-area);
}

.bubble .helpers .dot {
  fill:var(--color-helper-vertex);
  stroke-width: 0;
}

.bubble .helpers .vertex {
  fill: var(--color-helper-vertex);
  stroke-width: 0;
}

.bubble .helpers .area {
  stroke: var(--color-helper-area);
}

.react-draggable:hover {
  outline: 1px dashed rgba(255,255,255,0.2)
}

.controls {
  position: absolute;
  bottom: 100%;
  left: 0;
  background-color: var(--color-bg-controls);
  color: var(--color-txt-controls);
  display: grid;
  grid-template-columns: 280px 280px 280px;
  gap: 0;
  position: absolute;
  bottom: 100%;
  left: 0;
  padding-bottom: 20;
  right: 0;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  backdrop-filter: blur(20px);
}

.react-draggable .controls {
  visibility: hidden;
}

.react-draggable:hover .controls {
  visibility: visible;
}

.row {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(0px, auto));
}

fieldset {
  /* width: clamp(100px, 100vw, 420px); */
  display: grid;
  grid-template-columns: 1fr;
  margin: 20px;
  border: unset;
  border-color: var(--color-border);
  border-style: solid;
  border-width: 0;
  background-color: none;
  padding: 10px;
  margin: 0;
  align-content: start;
}

fieldset button {
  pointer-events: auto;
}

fieldset > section {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-areas:
    "label value"
    "input input";
  align-content: start;
}

fieldset > section:not(:first-child) {
  border-top: 1px solid var(--color-txt-controls);
  padding-top: 10px;
}

fieldset > section:not(:last-child) {
  padding-bottom: 10px;
}

fieldset > section > label {
  grid-area: label;
  pointer-events: auto;
}

fieldset > section > strong {
  grid-area: value;
}

fieldset > section > input, fieldset > section > button {
  grid-area: input;
  pointer-events: auto;
}